@page
@model RazorTest.Pages.ReadModel
@{
}
<h2>Available Books</h2>

<a asp-page="/Create" class="btn btn-success">Create Book</a>
<table class="table-bordered" >
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Book Price</th>
            <th>Actions</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model.BookPost)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td>
                  <a asp-page="Delete" asp-route-id="@book.Id" class="btn btn-warning">Delete</a>
                </td>
            </tr>
        }
           
    </tbody>
</table>